body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(48, 45, 45);
    color: black;
}

.al-element{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem;
}

.al-element i{
    transition: transform 300ms;
}

.al-element i:hover{
    transform: scale(1.1);
    cursor: pointer;
}

input[type="text"]{
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgrey;
    color: black;
    padding: 0.2rem;
}

::placeholder{
    color: black;
    opacity: 0.7;
}

select{
    border: 1px solid black;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgrey;
    color: black;
    padding: 0.2rem;
}

input[type="submit"]{
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgrey;
    color: black;
    padding: 0.5rem;
    transition: transform 300ms;
}

input[type="submit"]:hover, input[type="submit"]:focus{
    transform: scale(1.1);
}